@page
@model ManagementWebServer.Pages.plcs.DeleteModel

@{
    ViewData["Title"] = "PLC törlése";
}

<h3>Biztosan törölni szeretné ezt a PLC-t?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plc.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plc.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Plc.Id" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> 
        <a class="btn btn-secondary" asp-page="./Index">Mégsem</a>
    </form>
</div>
