@page
@model ManagementWebServer.Pages.robot.DeleteModel

@{
    ViewData["Title"] = "Robot törlése";
}

<h3>Bitosan törölni szeretné ezt a robotot?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Robot.Alias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Robot.Alias)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Robot.Guid" />
        <input type="submit" value="Törlés" class="btn btn-danger" />
        <a class="btn btn-secondary" asp-page="./Index">Mégsem</a>
    </form>
</div>
